*{
    border: 2px dashed red;
}
.main2 {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.rightArr, .lefftArr {

    display: block;
    width: 20px;
    height: 20px; 
    border: 1px black;
}