/* *{
    border: 1px dashed rgb(238, 94, 94);
} */
.front {
 background-image: radial-gradient(circle, blue, aqua,white, white);
 }

.main2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

footer {
    margin-top: 4rem;
    text-align: right;
}

.rightArr, .lefftArr {
    padding: 0.3rem;  /*    dobre */
    background-color:  blue;
    background-image: linear-gradient( blue, aqua, blue);
    border-radius: 30%;
    cursor: pointer;
    color: solid black;
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2 {
    text-align: center;
}

.rightArr:hover, .lefftArr:hover {
    color: red;

}

img:hover {
    border: 2px solid black;
    cursor: pointer;
}

.box1 {
    display: flex;
    justify-content: center;
}

.div1, .div2, .div3{
    display: block;
    cursor: pointer;
}

.div1::before, .div1::after {
    content: ".";
}